doctype html
html
  head
    title Consulate
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(rel='stylesheet', href='style.css')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='highlight.js')
  body
    #content
      h1 Consulate
      ul
        for comment in comments
          unless ignore(comment)
            li
              a(href='#' + id(comment))= title(comment)

      for comment in comments
        unless ignore(comment)
          .comment(id=id(comment))
            h2= title(comment)
            .summary!= lineBreaks(comment.description.summary)
            .description!= lineBreaks(comment.description.body)

            if comment.tags.length
              ul.tags
                for tag in comment.tags
                  if tag.types
                    if 'param' == tag.type
                      li <em>#{tag.types.join(' | ')}</em> #{tag.name} #{tag.description}
                    else
                      li returns <em>#{tag.types.join(' | ')}</em> #{tag.description}
                  else if tag.name
                    li #{tag.name} #{tag.description}
