extends layout

block content
  h2 Approve '#{oauthClient.name}' to access your data:
  p= oauthClient.description
  h3 Scopes
  ul.scopes
    each scope in scopes
      li.scope= scope
  if optionalScope
    h3 Optional Scopes
    ul.optional-scopes
      each scope in optionalScope
        li.scope= scope

  form(action=action, method="POST")
    input(type="hidden", name="allow", value="true")
    if optionalScope
      label(for="allow-optional-scopes") Allow optional scopes
      input(id="allow-optional-scopes", type="checkbox", name="option-scopes", checked="true")
    input(type="submit", value="Yes")
  form(action=action, method="POST")
    input(type="hidden", name="cancel", value="true")
    input(type="submit", value="No")
